.card__student {
    display: flex;
    align-items: center;
    width: 70%;
    height: 100px;
    background-color: #ccc;
    border: 1px solid turquoise;
    margin: 10px auto;
    border-radius: 10px;
}

.first__div {
    width: 40%;
}

.sec__div {
    width: 40%;
}

.btn__div {
    width: 20%;
}