.card__student {
    display: flex;
    width: 70%;
    height: 100px;
    background-color: #ccc;
    border: 1px solid turquoise;
    margin: auto;
}

.first__div {
    width: 60%;
}

.sec__div {
    width: 40%;
}